Python Assignment Task

Importing Libraries

In [1]:
#import the Libraries 

import numpy as np 
import pandas as pd 
from matplotlib import *

Importing the data sets.

In [3]:
# using Pandas to read the file 

train_data_set= pd.read_csv('train.csv')
ideal_data_set= pd.read_csv('ideal.csv')
test_data_set= pd.read_csv("test.csv")

Display the top 5 row of each data sets

In [4]:
train_data_set.head()

      x         y1         y2         y3         y4
0 -20.0  40.379270   9.941395 -7999.5713  20.281954
1 -19.9  39.966780   9.955628 -7880.6660  19.916430
2 -19.8  39.475760   9.858090 -7762.3450  19.610155
3 -19.7  40.147300   9.962205 -7645.2256  19.421822
4 -19.6  39.834766  10.045976 -7529.9370  19.824934

In [5]:
ideal_data_set.head()

,x,y1,y2,y3,y4,y5,y6,y7,y8,y9,...,y41,y42,y43,y44,y45,y46,y47,y48,y49,y50
0,-20.0,-0.912945,0.408082,9.087055,5.408082,-9.087055,0.912945,-0.839071,-0.850919,0.816164,...,-40.456474,40.204040,2.995732,-0.008333,12.995732,5.298317,-5.298317,-0.186278,0.912945,0.396850
1,-19.9,-0.867644,0.497186,9.132356,5.497186,-9.132356,0.867644,-0.865213,0.168518,0.994372,...,-40.233820,40.048590,2.990720,-0.008340,12.990720,5.293305,-5.293305,-0.215690,0.867644,0.476954
2,-19.8,-0.813674,0.581322,9.186326,5.581322,-9.186326,0.813674,-0.889191,0.612391,1.162644,...,-40.006836,39.890660,2.985682,-0.008347,12.985682,5.288267,-5.288267,-0.236503,0.813674,0.549129
3,-19.7,-0.751573,0.659649,9.248426,5.659649,-9.248426,0.751573,-0.910947,-0.994669,1.319299,...,-39.775787,39.729824,2.980619,-0.008354,12.980619,5.283204,-5.283204,-0.247887,0.751573,0.612840
4,-19.6,-0.681964,0.731386,9.318036,5.731386,-9.318036,0.681964,-0.930426,0.774356,1.462772,...,-39.540980,39.565693,2.975530,-0.008361,12.975530,5.278115,-5.278115,-0.249389,0.681964,0.667902

In [7]:
test_data_set.head()

      x            y
0   2.6    31.205664
1   7.1   358.660600
2  14.3  2923.947000
3  -1.9    -7.198893
4 -13.4 -2719.026100